# Binaries
bin/
tools/
models/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of build tools
build/

# Ignore whisper.cpp (downloaded by setup script)
whisper.cpp/

# Go build cache
*.out

# VCS
.git
.gitignore

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

#Configs
config.yaml
service.yaml
sources.yaml

# Secrets
*credentials.json
*token.json
*secret.json
.env

# Test and docs
*.md
docs/
**/*_test.go 

docker-compose.example.yml